@model JennyMVC.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Client Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client_name)
        </dd>

        <dt>
            @Html.Label("Client Contact Details")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client_contact)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.clientId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
