@model JennyMVC.Assignment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Assignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Task Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.task_name)
        </dd>

        <dt>
            @Html.Label("Predicted Start Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pred_start)
        </dd>

        <dt>
            @Html.Label("Actual Start Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.act_start)
        </dd>

        <dt>
            @Html.Label("Predicted Finish Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pred_finish)
        </dd>

        <dt>
            @Html.Label("Actual Finish Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.act_finish)
        </dd>

        <dt>
            @Html.Label("Predicted Cost in Hours")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pred_cost)
        </dd>

        <dt>
            @Html.Label("Actual Cost in hours")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.act_cost)
        </dd>

        <dt>
            @Html.Label("Sequence Number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.task_sequence)
        </dd>

        <dt>
            @Html.Label("Activity Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity.activity_name)
        </dd>

        <dt>
            @Html.Label("Staff Email")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.staff_email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.taskID }) |
    @Html.ActionLink("Back to Assignment List", "Index")
</p>
